---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
// import MyButtonLearn from "../components/MyButtonLearn.jsx";
// import MyButtonGet from "../components/MyButtonGet.jsx";
import LetsTalk from "../components/LetsTalk.astro";
---

<Layout title="Designo Agency Website Challenge.">
  <main>
    <LetsTalk />
  </main>
</Layout>
